RABBITMQ_DEFAULT_USER=your-username
RABBITMQ_DEFAULT_PASS=your-password

RMQ_CONNECTION_STRING=amqp://your-username:your-password@rabbitmq:5672
RMQ_QUEUE_NAME=notifications_queue


TELEGRAM_BOT_TOKEN=your-telegram-bot-token

REDIS_HOST=redis
REDIS_PORT=6379